#catalog h1 {
  padding: 4.5rem;
  background-image: url(../images/coffees/256505890.png);
  border-radius: 0.5rem;

  text-align: center;
  font-size: 2rem;
}

#catalog .articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); /* https://css-tricks.com/a-responsive-grid-layout-with-no-media-queries/ */
  gap: 2rem;

  margin-top: 5rem;
}

/* Bonus : hide all articles after the 3rd one until the user clicks the button to display more */
#catalog .only-display-3-articles article:nth-child(n+5) {
  display: none;
}

#only-3-products-button {
  display: none;
}

#catalog article {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}

#catalog article img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

#catalog article div {
  padding: 2rem;
  text-align: start;
}

#catalog article h2 {
  margin-bottom: 1rem;
}

#catalog article a {
  margin-top: 1rem;
}

#catalog button {
  margin: 2rem auto 0 auto;
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid var(--color-yellow);
  outline-offset: 3px;
}