/* ======== About Section ======== */

#about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#about img {
    border-radius: 0.7rem;
    object-fit: cover;
    width: 50%;
    max-width: 650px;
}

/*
@media screen and (max-width: 1280px) {
    #about img {
        display: none;
    }
}
*/

#about h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

#about p {
    line-height: 1.5rem;
    margin: 2rem 0;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: justify;
}

#about a {
    width: fit-content;
}

/* ======== Latest Products Section ======== */


#latest-products ul {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 2.5rem 0;
}

#latest-products li {
    flex-grow: 1;
    flex-basis: 16rem;
}

#latest-products article {
    background-color: var(--color-orange);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
}

#latest-products article img {
    width: 100%;
    height: 15rem;
    object-fit: cover;

    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#latest-products article div {
    padding: 1.5rem;
}

#latest-products article a {
    margin-top: 1rem;
}

.about1, .about2, .about3 {
    display: none;
}

.intro{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 1em;
    gap: 2em;
}

.intro img {
    height: 200px;
    width: auto;
}

#map {
  width: 30em;
  max-width: 100%;
  height: 15em;
  margin-bottom: 30px;
  border-radius: 8px;
}